.footer-wrapper {
  background-color: #000;

  padding: 4rem 0;

  color: #fff;
}

.social-contacts {
  .footer-wrapper & {
    list-style: none;
    padding: 0;

    @extend .d-flex;
    @extend .justify-content-between;

    .icon {
      font-size: 1.5rem;
    }

    .icon-wrapper {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      background-color: #202020;
      text-align: center;
      line-height: 3.5rem;
      border-radius: 50%;
      color: #fff;
      text-decoration: none;
      margin-top: 1.5rem;
    }
  }
}
